equipment-register.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="0.0.1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:msl="https://www.measurement.govt.nz/equipment-register"
            elementFormDefault="qualified"
            vc:minVersion="1.0"
            targetNamespace="https://www.measurement.govt.nz/equipment-register">

    <xsd:annotation>
        <xsd:documentation>
            Copyright (c) 2023, Measurement Standards Laboratory of New Zealand.

            XML Schema Definition for the vocabulary and structure of an Equipment Register.

            An Equipment Register contains information to satisfy ISO/IEC 17025:2017 Clause 6.4.13:

            ```
            Records shall be retained for equipment which can influence laboratory activities.
            The records shall include the following where applicable:

            a) the identity of equipment, including software and firmware versions;
            b) the manufacturer's name, type identification, and serial number or other unique identification;
            c) evidence of verification that equipment conforms with specified requirements;
            d) the current location;
            e) calibration dates, results of calibrations, adjustments, acceptance criteria, and the due date of the next calibration or the calibration interval;
            f) documentation of reference materials, results, acceptance criteria, relevant dates and the period of validity;
            g) the maintenance plan and maintenance carried out to date, where relevant to the performance of the equipment;
            h) details of any damage, malfunction, modification to, or repair of, the equipment.
            ```
        </xsd:documentation>
    </xsd:annotation>

    <!-- Root element -->
    <xsd:element name="register">
        <xsd:annotation>
            <xsd:documentation>
                Root element that contains zero or more [equipment](#type_equipment) elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="equipment" type="msl:equipment"/>
            </xsd:sequence>
            <xsd:attribute name="team" type="msl:teamEnumerationString" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The team that is responsible for the equipment register.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="teamEnumerationString">
        <xsd:annotation>
            <xsd:documentation>
                The team that is responsible for the equipment register.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Electrical"/>
            <xsd:enumeration value="Humidity"/>
            <xsd:enumeration value="Length"/>
            <xsd:enumeration value="Light"/>
            <xsd:enumeration value="Mass"/>
            <xsd:enumeration value="Pressure"/>
            <xsd:enumeration value="Temperature"/>
            <xsd:enumeration value="Time"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="labEnumerationString">
        <xsd:annotation>
            <xsd:documentation>
                The laboratory that the equipment is usually located in.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="General"/>
            <xsd:enumeration value="Photometric Bench"/>
            <xsd:enumeration value="Spectrophotometer"/>
            <xsd:enumeration value="Detector Responsivity"/>
            <xsd:enumeration value="Cryogenic Radiometer"/>
            <xsd:enumeration value="Goniospectrophotometer"/>
            <xsd:enumeration value="Single Photon"/>
            <xsd:enumeration value="Flexible Optics"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="categoryEnumerationString">
        <xsd:annotation>
            <xsd:documentation>
                The category that the equipment belongs to.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Barometer"/>
            <xsd:enumeration value="DigitalMultiMeter"/>
            <xsd:enumeration value="GaugeBlock"/>
            <xsd:enumeration value="Hygrometer"/>
            <xsd:enumeration value="Laser"/>
            <xsd:enumeration value="Monochromator"/>
            <xsd:enumeration value="Oscilloscope"/>
            <xsd:enumeration value="Resistor"/>
            <xsd:enumeration value="Thermometer"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="statusEnumerationString">
        <xsd:annotation>
            <xsd:documentation>
                The status of the equipment is an indication of whether the
                equipment is _active_ (in use) or _inactive_ (not in use).

                A single value indicates that the equipment is _active_:

                * **Active**: The equipment is operable and may be used

                The following values indicate that the equipment is _inactive_, but
                provide more context as to the reason why it is _inactive_:

                * **Damaged**: The equipment is damaged and is no longer usable
                * **Dormant**: The equipment is still operable, it is no longer in use but may be used again
                  (e.g., the equipment was replaced with a newer/different model, and it is kept as a backup)
                * **Retired**: The equipment is still operable, but there are no intentions of using it again
                  (e.g., the equipment depends on other equipment that is not available or is no longer manufactured)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Active"/>
            <xsd:enumeration value="Damaged"/>
            <xsd:enumeration value="Dormant"/>
            <xsd:enumeration value="Retired"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="quantityEnumerationString">
        <xsd:annotation>
            <xsd:documentation>
                The quantity intended to be measured.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Humidity"/>
            <xsd:enumeration value="Temperature"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idPatternString">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                a) the identity of equipment ...

                The id pattern _shall_ consist of
                1) the upper-case letters **MSLE**
                2) followed by one period **.** (0x2E)
                3) followed by one of the following letters
                    * **E**: Electrical
                    * **F**: Frequency (Time)
                    * **H**: Humidity
                    * **L**: Length
                    * **M**: Mass
                    * **O**: Optics (Light)
                    * **P**: Pressure
                    * **T**: Temperature
                4) followed by one period **.** (0x2E)
                5) followed by one or more upper-case letters and/or digits
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="MSLE\.[EFHLMOPT]\.[A-Z0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nonEmptyString">
        <xsd:annotation>
            <xsd:documentation>
                A non-empty string that **shall not** contain the line feed (0x0A)
                nor carriage return (0x0D) characters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value=".*\S.*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tokenizedString">
        <xsd:annotation>
            <xsd:documentation>
                A non-empty string that **shall not**

                1. contain the tab (0x09), line feed (0x0A) nor carriage return (0x0D) characters,
                2. contain sequences of two or more spaces (0x20),
                3. have leading or trailing spaces.

                This implementation is what [xsd:token](https://www.w3.org/TR/xmlschema-2/#token)
                indicates; however, to achieve the desired validation outcome, string normalisation
                must not occur before validation. This is the reason why the _base_ class is
                [xsd:string](https://www.w3.org/TR/xmlschema-2/#string) (with a _pattern_ facet)
                and not [xsd:token](https://www.w3.org/TR/xmlschema-2/#token). The
                [lexical space](https://www.w3.org/TR/xmlschema-2/#lexical-space)
                is not what is in the raw XML document, it is what you get after applying
                _pre-lexical_ normalisations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\S(\S*( ?)\S+)*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nonNegativeDecimal">
        <xsd:annotation>
            <xsd:documentation>
                A decimal number that is &#x2265; 0.

                Derived from [xsd:decimal](https://www.w3.org/TR/xmlschema-2/#decimal)
                by setting the value of _minInclusive_ to be 0.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="equipment">
        <xsd:annotation>
            <xsd:documentation>
                Contains information about the equipment to satisfy ISO/IEC 17025:2017
                Clause 6.4.13 as well as the MSL Quality Manual Section 4.3.6.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="msl:idPatternString">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        a) the identity of equipment ...
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="manufacturer" type="msl:tokenizedString">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        b) the manufacturer's name ...
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="model" type="msl:tokenizedString">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        b) the manufacturer's ... type identification ...
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serial" type="msl:tokenizedString">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        b) the manufacturer's ... serial number or other unique identification
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="msl:tokenizedString">
                <xsd:annotation>
                    <xsd:documentation>
                        A short description about the equipment.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="location" type="msl:labEnumerationString">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        d) the current location

                        While the Clause states the _current_ location, this is interpreted
                        as the _usual_ location (laboratory) that the equipment is found in.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="msl:statusEnumerationString">
                <xsd:annotation>
                    <xsd:documentation>
                        The status of the equipment is an indication of whether the
                        equipment is _active_ (in use) or _inactive_ (not in use).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="loggable" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether measurements from the equipment should be logged.

                        Equipment that monitor (for example) pressure, temperature
                        or humidity of a laboratory environment are considered as loggable.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="traceable" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether the equipment is used for a traceable measurement.

                        If the equipment is part of a traceability chain, the equipment
                        must have [calibrations](#type_calibrations) specified.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="calibrations" type="msl:calibrations">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        c) evidence of verification that equipment conforms with specified requirements \
                        e) calibration dates, results of calibrations, adjustments, acceptance criteria, and the due date of the next calibration or the calibration interval
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:unique name="uniqueMeasurandQuantity">
                    <xsd:selector xpath="msl:measurand"/>
                    <xsd:field xpath="@quantity"/>
                </xsd:unique>
            </xsd:element>
            <xsd:element name="documentation" type="msl:documentation">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        f) documentation of reference materials, results, acceptance criteria, relevant dates and the period of validity

                        Also includes the _optional_ information that is specified in the
                        MSL Quality Manual Section 4.3.6.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="firmware" type="msl:firmware">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        a) ... software and firmware version
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maintenance" type="msl:maintenance">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        g) the maintenance plan and maintenance carried out to date, where relevant to the performance of the equipment \
                        h) details of any damage, malfunction, modification to, or repair of, the equipment
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="custom" type="msl:custom" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        All custom, user-defined elements shall be contained as sub-elements.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="category" type="msl:categoryEnumerationString">
            <xsd:annotation>
                <xsd:documentation>
                    _Optional:_ The category that the equipment belongs to.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="comment">
        <xsd:annotation>
            <xsd:documentation>
                A non-empty string that **shall not** contain the line feed (0x0A)
                nor carriage return (0x0D) characters and **shall** have a date
                as an attribute. The date must be in the YYYY-MM-DD format (see
                [xsd:date](https://www.w3.org/TR/xmlschema-2/#date) for details).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="msl:nonEmptyString">
                <xsd:attribute name="date" type="xsd:date" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="maintenance">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                g) the maintenance plan and maintenance carried out to date, where relevant to the performance of the equipment \
                h) details of any damage, malfunction, modification to, or repair of, the equipment
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="task" type="msl:comment">
                <xsd:annotation>
                    <xsd:documentation>
                        Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                        g) ... maintenance carried out to date, where relevant to the performance of the equipment \
                        h) details of any damage, malfunction, modification to, or repair of, the equipment
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="due" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation>
                    Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                    g) the maintenance plan ...

                    The due date when routine maintenance (a performance check)
                    shall be performed. The date must be in the YYYY-MM-DD format
                    (see [xsd:date](https://www.w3.org/TR/xmlschema-2/#date) for details).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="firmware">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                a) ... software and firmware version

                For equipment that support the _*IDN?_ query, the firmware version is
                typically found as the fourth item in the reply: _manufacturer,model,serial,firmware_
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="version" type="msl:comment"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="documentation">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                f) documentation of reference materials, results, acceptance criteria, relevant dates and the period of validity

                Also includes the _optional_ information that is specified in Section 4.3.6
                of the MSL Quality Manual.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element name="accessories" type="xsd:string"/>
            <xsd:element name="manual" type="xsd:anyURI"/>
            <xsd:element name="personnelRestrictions" type="xsd:string"/>
            <xsd:element name="serviceAgent" type="xsd:string"/>
            <xsd:element name="technicalProcedures" type="xsd:string"/>
            <xsd:element name="warrantyExpirationDate" type="xsd:date"/>
            <xsd:element name="yearPurchased" type="xsd:gYear"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="custom">
        <xsd:annotation>
            <xsd:documentation>
                All custom, user-defined elements shall be contained as sub-elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
        <xsd:anyAttribute processContents="lax"/>
    </xsd:complexType>

    <xsd:complexType name="calibrations">
        <xsd:annotation>
            <xsd:documentation>
                Contains zero or more [measurand](#type_measurand) elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="measurand" type="msl:measurand">
                <xsd:annotation>
                    <xsd:documentation>
                        The quantity intended to be measured.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:unique name="uniqueComponentName">
                    <xsd:selector xpath="msl:component"/>
                    <xsd:field xpath="@name"/>
                </xsd:unique>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="measurand">
        <xsd:annotation>
            <xsd:documentation>
                The quantity intended to be measured.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="component" type="msl:component">
                <xsd:annotation>
                    <xsd:documentation>
                        A component of the equipment that measures the `quantity` attribute.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="quantity" type="msl:quantityEnumerationString" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The kind of quantity that is measured.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unit" type="msl:nonEmptyString" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The unit of the measured quantity.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interval" type="msl:nonNegativeDecimal" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The number of years that may pass between calibrations.
                    For equipment that do not have a required calibration
                    interval but are calibrated _on demand_, use the value 0.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="component">
        <xsd:annotation>
            <xsd:documentation>
                A component of the equipment that measures the [quantity](#type_quantity).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="report" type="msl:report">
                <xsd:annotation>
                    <xsd:documentation>
                        A calibration report for this `component`.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The name to associate with this `component`. The value must
                    be unique amongst the other `component` elements within
                    the `measurand` element. An empty string is permitted.

                    Examples
                    --------
                    * Multimeter: _Front_, _RearTerminal_
                    * Data Acquisition: _AO1_, _AnalogIn2_
                    * Scanner: _Ch1_, _Channel2_
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="report">
        <xsd:annotation>
            <xsd:documentation>
                A calibration report.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="number" type="msl:nonEmptyString">
                <xsd:annotation>
                    <xsd:documentation>
                        The report number.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>
                        The date that the measurement started.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>
                        The date that the measurement stopped.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="criteria" type="msl:custom">
                <xsd:annotation>
                    <xsd:documentation>
                        The criteria under which the calibration report is valid.

                        Some examples of user-defined elements that may be specified are
                        * the temperature of the equipment must be within a certain range
                        * the temperature and/or humidity of the lab must be within a certain range
                        * the calibration equation is only valid within a certain range
                        * the technical procedure that was followed to acquire the measurement data
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="equation" type="msl:equation">
                    <xsd:annotation>
                        <xsd:documentation>
                            Calibration data is expressed as an equation.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="file" type="msl:file">
                    <xsd:annotation>
                        <xsd:documentation>
                            Calibration data is stored in another file.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="gtcArchive" type="msl:gtcArchive">
                    <xsd:annotation>
                        <xsd:documentation>
                            Calibration data is expressed as a
                            [GTC Archive](https://gtc.readthedocs.io/en/stable/API/persistence.html#persistence.Archive).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="table" type="msl:table">
                    <xsd:annotation>
                        <xsd:documentation>
                            Calibration data is expressed as a CSV table.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="date" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation>
                    _Optional:_ The date that the report was issued.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="equation">
        <xsd:annotation>
            <xsd:documentation>
                Calibration data is expressed as an equation.

                The equation takes the measured value(s) as input parameter(s)
                and calculates the corrected value.

                **Example**
                ```
                &lt;equation&gt;
                  &lt;parse&gt;R + (-10.66 + 1.58e-2*R + 1.212e-3*R**2)&lt;/parse&gt;
                  &lt;variables&gt;R&lt;/variables&gt;
                  &lt;uncertainty&gt;0.45&lt;/uncertainty&gt;
                &lt;/equation&gt;
                ```
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="parse" type="msl:nonEmptyString">
                <xsd:annotation>
                    <xsd:documentation>
                        The equation to parse to calculate the corrected value.

                        The equation may contain space (0x20) and tab (0x09)
                        characters, but shall not contain the line feed (0x0A)
                        nor carriage return (0x0D) characters.

                        The equation may contain the brackets `(` and `)`.

                        The following operators may be used
                        * _+_ (addition, unary positive)
                        * _-_ (subtraction, unary negative)
                        * _*_ (multiplication)
                        * _/_ (division)

                        The following may be used, for example, to raise _a_ to the power of _b_
                        * a^b
                        * a**b
                        * pow(a, b)

                        The following symbols may be used to represent its numerical constant
                        * pi = 3.14159...

                        The following functions may be used
                        * sin
                        * cos
                        * tan
                        * exp
                        * ln
                        * log
                        * sqrt
                        * arcsin
                        * arccos
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="variables">
                <xsd:annotation>
                    <xsd:documentation>
                        A comma-separated string of the variable name(s) in
                        the equation (the variables that represent the measured
                        quantities).

                        Each variable name must begin with a letter and may
                        be followed by zero or more alphanumeric characters.
                        No whitespace shall be used.

                        **Examples**
                        * &lt;variables&gt;t&lt;/variables&gt;
                        * &lt;variables&gt;T&lt;/variables&gt;
                        * &lt;variables&gt;x1,x2,x3&lt;/variables&gt;
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[a-zA-Z]\w*(,[a-zA-Z]\w*)*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="uncertainty">
                <xsd:annotation>
                    <xsd:documentation>
                        The standard uncertainty of the corrected value.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:float">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="file">
        <xsd:annotation>
            <xsd:documentation>
                Calibration data is stored in another file.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="directory" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        The directory where the `filename` element is located.

                        Including the `directory` element is required, but the
                        content may be an empty string.

                        The content of `directory` may be an _absolute_ path or a
                        _relative_ path, where the definition of _relative_ is up to
                        each _team_ to standardize.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filename" type="msl:nonEmptyString">
                <xsd:annotation>
                    <xsd:documentation>
                        The name of the file (including the file extension).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="gtcArchive">
        <xsd:annotation>
            <xsd:documentation>
                Calibration data is expressed as a
                [GTC Archive](https://gtc.readthedocs.io/en/stable/API/persistence.html#persistence.Archive).

                The content of the `gtcArchive` element must be created with the
                [dumps_json](https://gtc.readthedocs.io/en/stable/API/persistence.html#persistence.dumps_json)
                function, which may be loaded with the
                [loads_json](https://gtc.readthedocs.io/en/stable/API/persistence.html#persistence.loads_json)
                function. Any keyword arguments that are required for the
                [loads_json](https://gtc.readthedocs.io/en/stable/API/persistence.html#persistence.loads_json)
                function may be specified as attributes of the `gtcArchive` element.

                **Example**
                ```
                &lt;gtcArchive&gt;{"CLASS": "Archive", ...}&lt;/gtcArchive&gt;
                ```
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:anyAttribute processContents="skip"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="table">
        <xsd:annotation>
            <xsd:documentation>
                Calibration data is expressed as a CSV table.

                If using Python to load the table, use
                [numpy.genfromtxt](https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html)
                with the _fname_ parameter equal to the `data` content wrapped within a
                [StringIO](https://docs.python.org/3/library/io.html#io.StringIO) object,
                the _delimiter_ parameter equal to `,` and, optionally, the _names_ parameter
                equal to the `header` content and construct the _dtype_ parameter from the
                `datatype` content.

                **Example**
                ```
                &lt;table&gt;
                  &lt;header&gt;Wavelength, Irradiance, Irradiance Std. Uncertainty&lt;/header&gt;
                  &lt;datatype&gt;int, float, float&lt;/datatype&gt;
                  &lt;data&gt;
                    250, 0.018184693, 0.020338474
                    300, 0.184783924, 0.017558388
                    350, 0.808454870, 0.016061036
                    400, 2.213559358, 0.014050724
                    450, 4.490045649, 0.012509585
                    500, 7.451358772, 0.012003620
                    550, 10.75754957, 0.011528671
                    600, 14.03809504, 0.011028261
                    650, 16.99469553, 0.011031749
                    700, 19.44093973, 0.010771097
                  &lt;/data&gt;
                &lt;/table&gt;
                ```
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="header">
                <xsd:annotation>
                    <xsd:documentation>
                        The label of each column in a `table`.
                        Each label must be separated by a comma.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[^,]+(,[^,]+)*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="datatype">
                <xsd:annotation>
                    <xsd:documentation>
                        The datatype of each column in a `table`.
                        Each datatype must be separated by a comma.

                        Allowed datatypes are: **bool**, **int**, **float**, **str**
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\s*(bool|int|float|str)\s*(,\s*(bool|int|float|str)\s*)*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="data">
                <xsd:annotation>
                    <xsd:documentation>
                        The data in a `table`.
                        Each value in a row must be separated by a comma.
                        The line-feed character (0x0A) represents a new row.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[^,]+(,[^,\n][^,]*)*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
