equipment-register.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="0.0.1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:msl="https://www.measurement.govt.nz/equipment-register"
            elementFormDefault="qualified"
            targetNamespace="https://www.measurement.govt.nz/equipment-register">

    <xsd:annotation>
        <xsd:documentation>
            Copyright (c) 2023, Measurement Standards Laboratory of New Zealand. \
            XML Schema Definition for the vocabulary and structure of an Equipment Register.
        </xsd:documentation>
    </xsd:annotation>

    <!-- Root element -->
    <xsd:element name="register">
        <xsd:annotation>
            <xsd:documentation>
                Root element that contains zero or more [equipment](#type_equipment) elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="equipment" type="msl:equipment"/>
            </xsd:sequence>
            <xsd:attribute name="team" type="msl:teamEnumerationString" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="teamEnumerationString">
        <xsd:annotation>
            <xsd:documentation>
                ISO/IEC 17025:2017 Clause 6.4.13 \
                d) the current location
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Electrical"/>
            <xsd:enumeration value="Humidity"/>
            <xsd:enumeration value="Length"/>
            <xsd:enumeration value="Light"/>
            <xsd:enumeration value="Mass"/>
            <xsd:enumeration value="Pressure"/>
            <xsd:enumeration value="Temperature"/>
            <xsd:enumeration value="Time"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idPatternString">
        <xsd:annotation>
            <xsd:documentation>
                ISO/IEC 17025:2017 Clause 6.4.13 \
                a) the identity of equipment ...
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="MSLE\.[A-Z]\.[A-Z0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nonEmptyString">
        <xsd:annotation>
            <xsd:documentation>
                A non-empty string.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value=".*\S.*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tokenizedString">
        <xsd:annotation>
            <xsd:documentation>
                A non-empty string that **shall not**

                1. contain the tab (0x09), line feed (0x0A) nor carriage return (0x0D) characters,
                2. contain sequences of two or more spaces (0x20),
                3. have leading or trailing spaces.

                This implementation is what [xsd:token](https://www.w3.org/TR/xmlschema-2/#token)
                indicates; however, to achieve the desired validation outcome, string normalisation
                must not occur before validation. This is the reason why the _base_ class is
                [xsd:string](https://www.w3.org/TR/xmlschema-2/#string) (with a _pattern_ facet)
                and not [xsd:token](https://www.w3.org/TR/xmlschema-2/#token). The
                [lexical space](https://www.w3.org/TR/xmlschema-2/#lexical-space)
                is not what is in the raw XML document, it is what you get after applying
                _pre-lexical_ normalisations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\S(\S*( ?)\S+)*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="equipment">
        <xsd:annotation>
            <xsd:documentation>
                Contains all relevant information about the equipment to satisfy
                ISO/IEC 17025:2017 Clause 6.4.13:

                ```
                Records shall be retained for equipment which can influence laboratory activities.
                The records shall include the following where applicable:

                a) the identity of equipment, including software and firmware versions;
                b) the manufacturer's name, type identification, and serial number or other unique identification;
                c) evidence of verification that equipment conforms with specified requirements;
                d) the current location;
                e) calibration dates, results of calibrations, adjustments, acceptance criteria, and the due date of the next calibration or the calibration interval;
                f) documentation of reference materials, results, acceptance criteria, relevant dates and the period of validity;
                g) the maintenance plan and maintenance carried out to date, where relevant to the performance of the equipment;
                h) details of any damage, malfunction, modification to, or repair of, the equipment.
                ```
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="msl:idPatternString"/>
            <xsd:element name="manufacturer" type="msl:tokenizedString"/>
            <xsd:element name="model" type="msl:tokenizedString"/>
            <xsd:element name="serial" type="msl:tokenizedString"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="active" type="xsd:boolean"/>
            <xsd:element name="calibrations" type="msl:calibrations"/>
            <xsd:element name="documentation" type="msl:documentation"/>
            <xsd:element name="firmware" type="msl:firmware"/>
            <xsd:element name="maintenance" type="msl:maintenance"/>
            <xsd:element name="custom" type="msl:custom" minOccurs="0"/>
        </xsd:sequence>
        <!-- TODO consider using an enumeration: DMM, Laser, PRT, Resistor, ... -->
        <xsd:attribute name="category" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="comment">
        <xsd:annotation>
            <xsd:documentation>
                A non-empty string that must have a date as an attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="msl:nonEmptyString">
                <xsd:attribute name="date" type="xsd:date" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="maintenance">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                g) the maintenance plan and maintenance carried out to date, where relevant to the performance of the equipment \
                h) details of any damage, malfunction, modification to, or repair of, the equipment
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="task" type="msl:comment"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="firmware">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                a) ... software and firmware version
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="version" type="msl:comment"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="documentation">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                f) documentation of reference materials, results, acceptance criteria, relevant dates and the period of validity

                Also includes the _optional_ information that is specified in Section 4.3.6
                of the MSL Quality Manual.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element name="accessories" type="xsd:string"/>
            <xsd:element name="manual" type="xsd:anyURI"/>
            <xsd:element name="personnelRestrictions" type="xsd:string"/>
            <xsd:element name="serviceAgent" type="xsd:string"/>
            <xsd:element name="warrantyExpirationDate" type="xsd:date"/>
            <xsd:element name="yearPurchased" type="xsd:gYear"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="custom">
        <xsd:annotation>
            <xsd:documentation>
                All user-defined elements are contained as sub-elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:any processContents="skip"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="calibrations">
        <xsd:annotation>
            <xsd:documentation>
                Contains zero or more [calibration](#type_calibration) elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="calibration" type="msl:calibration"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="calibration">
        <xsd:annotation>
            <xsd:documentation>
                Satisfy ISO/IEC 17025:2017 Clause 6.4.13 \
                c) evidence of verification that equipment conforms with specified requirements \
                e) calibration dates, results of calibrations, adjustments, acceptance criteria, and the due date of the next calibration or the calibration interval
            </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>

</xsd:schema>
